h1{
    background-color: gold;
    text-align: center;
    color: black;
    max-width: 670px;
    border-radius: 12px;
    margin: 0 auto;
}

p {
    text-align: center;
    color: black;
    background-color: white;
    max-width: 650px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 10px;
    font-size: large;   
}

ul {
    list-style: none;
    padding-left: 0;
}

div {
    text-align: center;
    color: gold;
    font-size: xx-large;
}