h1, h2 {
    background-color: gold;
    text-align: center;
    color: black;
    max-width: 690px;
    border-radius: 12px;
    margin: 0 auto;
}
h3 {
    text-align: center;
    color: black;
    background-color: white;
    max-width: 650px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 20px;
}

.contentbox {
  margin-top: 10px;
}
.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: nowrap;   
}

.box {
  width: 300px;        
  padding: 15px;
  background: #222;
  border-radius: 10px;
  color: white;
}

p {
  text-align: left;
    color: black;
    background-color: white;
    max-width: 640px;
    border-radius: 0px;
    margin: 0 auto;
    padding: 10px;
}

.link-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
}


.wave {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
  display: inline-block;
}

.wave span {
  display: inline-block;
  animation: waveAnim 2.5s infinite ease-in-out;
}

.wave span:nth-child(1) { animation-delay: 0s; }
.wave span:nth-child(2) { animation-delay: 0.05s; }
.wave span:nth-child(3) { animation-delay: 0.1s; }
.wave span:nth-child(4) { animation-delay: 0.15s; }
.wave span:nth-child(5) { animation-delay: 0.2s; }
.wave span:nth-child(6) { animation-delay: 0.25s; }
.wave span:nth-child(7) { animation-delay: 0.3s; }
.wave span:nth-child(8) { animation-delay: 0.35s; }
.wave span:nth-child(9) { animation-delay: 0.4s; }
.wave span:nth-child(10) { animation-delay: 0.45s; }
.wave span:nth-child(11) { animation-delay: 0.5s; }
.wave span:nth-child(12) { animation-delay: 0.55s; }
.wave span:nth-child(13) { animation-delay: 0.6s; }
.wave span:nth-child(14) { animation-delay: 0.65s; }
.wave span:nth-child(15) { animation-delay: 0.7s; }
.wave span:nth-child(16) { animation-delay: 0.75s; }
.wave span:nth-child(17) { animation-delay: 0.8s; }
.wave span:nth-child(18) { animation-delay: 0.85s; }
.wave span:nth-child(19) { animation-delay: 0.9s; }
.wave span:nth-child(20) { animation-delay: 0.95s; }

@keyframes waveAnim {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}


.link {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}